.headerSign
	padding 25px 50px
	position absolute
	left 50%
	top 50%
	border: 4px solid #fff;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center
	color #fff
	h1,
	h2
		margin-bottom .2em
	p
		margin-bottom 0
	h2
		font-family brandon_textlight, sans-serif
		text-transform none
main
	display flex
	flex-wrap wrap
	align-content flex-end
	padding 1%
	section
		flex-grow 1
		border 4px solid #50E3C2
		width 48%
		margin 1%
.coordinators
	h2
		font-family 'brandon_textlight', sans-serif
		font-size 1em
		margin-bottom .2em
		margin-top 2em
	p
		font-family 'brandon_textbold', sans-serif
		font-size 2.3em
		margin-bottom .2em
.coordinators,
.project
	padding 40px
.project
	h2
		font-family 'brandon_textlight', sans-serif
		font-size 1em
		margin-bottom .2em
		margin-top 2em
	h1
		text-transform none
		font-size 4em
	button
		text-align center
		margin 50px auto 0
		display block
		padding 20px 40px
		font-size 2em
		width 100%
		transition background-color .2s ease-out
		&:hover
			background-color #BD10E0
			color white

.students
	section
		width 100%
		padding 20px 40px
		background-color #50E3C2
		margin 0
		border-top none
		border-left none
		border-right none
		h1
			margin-bottom 0
			color white
	ul
		padding 40px
		// column-count 2
	li
		font-family 'brandon_textbold', sans-serif
		font-size 2.3em
		margin-bottom .2em
		text-decoration underline

@media (max-width: 600px)
	main
		section
			width 100%
	.students
		ul
			padding 40px
			column-count 1

/* Main stuff */
.text {
  fill: none;
  stroke-width: 8;
  stroke-linejoin: round;
  stroke-dasharray: 35 165;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear; }
  .text:nth-child(5n + 1) {
    stroke: #8bacf2;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s; }
  .text:nth-child(5n + 2) {
    stroke: #fc7d7d;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s; }
  .text:nth-child(5n + 3) {
    stroke: #50e3c2;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s; }
  .text:nth-child(5n + 4) {
    stroke: #2d30e0;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s; }
  .text:nth-child(5n + 5) {
    stroke: #f8e71c;
    -webkit-animation-delay: -6s;
    animation-delay: -6s; }

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }
@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }

.mainHeader
	svg
		font-weight 800
		font-size 20em
	.payoff
		text-align center

svg {
  width: 100%;
	text-align: center;
  margin: auto;
  display: block;
  text-transform: uppercase; }

.page
	width 0
	height 0
	top 0
	background-color white
	left 0
	position fixed
	z-index 11
	margin 0
	border none
	overflow scroll
	visibility hidden
	opacity 0
	transition opacity .1s ease-out
	header
		background-color #BD10E0
		height 75vh
		h1
			font-size 3em
	main
		.inner
			max-width 800px
			margin 80px auto
			font-size 1.1em
			p:nth-of-type(1)
				font-family inherit
				color #7f6c6c
				font-size 1.6em
		h1
			text-transform none

.page.open
	width 100%
	height 100vh
	visibility visible
	opacity 1

.page.open
	width 100%
	height 100vh
	visibility visible
	opacity 1
.waag
	text-align center
	.inner
		width 50%
		left 25%
		svg
			width 200px
		p
			top 1em
			left 10px
			font-size 100%
			margin-right 20px
			font-family 'brandon_textbold'
	.st1
		fill white
.full-width
	width 100%
