.sticky-menu
  background-color canvas
  padding 1em
  ul
    li
      display inline
      margin 1em
.sticky-menu.sticked
  position fixed
  left 0
  top 0
  width 100%
  z-index 2
.branding
  background-color projectColor
  height 75vh
  width 100vw