.card
  header
  section.card-body
    h1 USA Chicago
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare ornare sollicitudin. Suspendisse potenti.
    section.card-actions
      .button-bar
        button left
        button middle
        button right