ul
  li 
    a(href="index.html") Home
  li 
    a(href="slidemenu.html") Slide menu
  li 
    a(href="stickymenu.html") Sticky menu
  li 
    a(href="card.html") Cards
  li 
    a(href="buttonbar.html") Buttonbar
  li 
    a(href="heroheader.html") Hero header
  li 
    a(href="flexbox.html") Flexbox
  li 
    a(href="colorcards.html") Color cards
  li 
    a(href="multimenu.html") Multi-Level menu