extends ./layout.jade
block content
  .cardSection.color    
    h1 Some cool UI stuff
    p.
      Some explanation of cards
    include ./modules/colorcard.jade
    include ./modules/colorcard.jade
    include ./modules/colorcard.jade
    include ./modules/colorcard.jade