extends ./layout.jade
block content
  #main-content.flex
    article.two-col.standard-padding.red-white
      h1 Open-ui has great elements to use, redesign, or whatever.
    article.two-col.standard-padding.blue-white
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding.red-blue
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad
    article.two-col.standard-padding
      h1 Jaja
      p.
        jasdjdsjsajsad