extends ./layout.jade
block pagehead  
  include ./modules/branding.jade
block navigation
  include ./modules/stickymenu.jade
block content
  #main-content.main-content
    .wrapper
      h1 Poster header
      p.intro.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis eu dolor eu pellentesque. Sed sollicitudin, turpis eu semper dapibus, dui risus tincidunt orci, id varius nisl sapien sit amet massa. Phasellus facilisis tellus vitae blandit accumsan. Vivamus malesuada egestas libero eu sagittis. In egestas congue eros sit amet blandit. Donec elementum posuere erat sit amet faucibus. Integer nunc quam, sagittis cursus suscipit sed, pharetra non urna. Mauris ac nibh dolor.
      p.
        Cras sit amet diam diam. Phasellus a sodales felis. Etiam vel sagittis nisi. Integer dignissim orci eu aliquam fringilla. Donec maximus vestibulum nisl, a facilisis est ornare vitae. Donec hendrerit massa mi. Proin sed commodo ligula. Proin iaculis, erat vel rutrum ultrices, velit justo vestibulum nisi, eget dapibus sapien lorem et lectus. Sed dapibus lorem nec erat finibus consequat. Sed vehicula justo justo, quis dignissim tortor ultrices pellentesque. Sed et justo metus. Ut mattis ex id tortor mollis, nec suscipit neque ultrices. Nunc rhoncus dolor quis neque cursus, efficitur molestie tortor sodales.
      p.
        Cras sit amet diam diam. Phasellus a sodales felis. Etiam vel sagittis nisi. Integer dignissim orci eu aliquam fringilla. Donec maximus vestibulum nisl, a facilisis est ornare vitae. Donec hendrerit massa mi. Proin sed commodo ligula. Proin iaculis, erat vel rutrum ultrices, velit justo vestibulum nisi, eget dapibus sapien lorem et lectus. Sed dapibus lorem nec erat finibus consequat. Sed vehicula justo justo, quis dignissim tortor ultrices pellentesque. Sed et justo metus. Ut mattis ex id tortor mollis, nec suscipit neque ultrices. Nunc rhoncus dolor quis neque cursus, efficitur molestie tortor sodales.
      p.
        Cras sit amet diam diam. Phasellus a sodales felis. Etiam vel sagittis nisi. Integer dignissim orci eu aliquam fringilla. Donec maximus vestibulum nisl, a facilisis est ornare vitae. Donec hendrerit massa mi. Proin sed commodo ligula. Proin iaculis, erat vel rutrum ultrices, velit justo vestibulum nisi, eget dapibus sapien lorem et lectus. Sed dapibus lorem nec erat finibus consequat. Sed vehicula justo justo, quis dignissim tortor ultrices pellentesque. Sed et justo metus. Ut mattis ex id tortor mollis, nec suscipit neque ultrices. Nunc rhoncus dolor quis neque cursus, efficitur molestie tortor sodales.
