extends ./layout.jade
block content
  header.mainHeader
    svg(viewBox="0 0 3800 1200")
      symbol#s-text
        text(text-anchor="middle" x="50%" y="50%" dy=".35em") Fab Academy 2016
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
    .payoff
      h2 Fablab Amsterdam
      a(href="http://www.waag.org").btn.btn-1.btn-1a Waag Society

  main.mainContent
    section.coordinators.left
      h2 Coordinator:
      p Emma Pareschi 
      h2 Instructors:
      p Emma Pareschi
      p Mickael Boulay
      p Ivo de Kler  

      h2 Videos, Version control & Support:
      p Zaerc

    section.project.left
      h2 Machine Building Group Assignment:
      h1 Hotwire cutter
      button#viewProjectBtn View Project


    section.students.left
      section
        h1 Students
      ul
        li Eva Korae
        li Sander	van Vliet
        li Sebastiaan	Moes
        li Paul	Groneveld
        li Jacopo di Matteo
        li Marije	Kanis
        li Shunichi Mizugaki


  section.page.projectPage
    header
      .headerSign
        h1 Hotwire cutter
    main
      .inner
        h1 Hotwire cutter
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque augue tellus, accumsan id ligula ut, ornare hendrerit quam. Sed in luctus nibh. Nunc ullamcorper ipsum ac pellentesque rhoncus. Donec vitae efficitur lorem. Mauris lobortis vehicula sollicitudin. Praesent quam elit, tincidunt sit amet imperdiet id, imperdiet dignissim justo. Vestibulum consequat venenatis metus, vitae lobortis tortor egestas id. Curabitur diam enim, pulvinar nec massa ut, laoreet fermentum nunc. Vivamus facilisis aliquam pellentesque. Sed tincidunt ex vel lacus lacinia, sed dignissim justo mollis. In sollicitudin quam a magna elementum laoreet. Vestibulum sed justo at diam sollicitudin fringilla sit amet at nulla.
        p.
          Morbi sodales congue ante, vitae euismod nisi tincidunt id. Morbi non finibus arcu. Nullam varius nibh lobortis dui ultrices, suscipit pellentesque felis tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a fringilla orci. Nunc sit amet faucibus ante. Donec velit nibh, consectetur ac molestie at, facilisis eget tellus. Ut vel urna rhoncus, sollicitudin ipsum nec, aliquet sem. Nullam sit amet commodo eros. Pellentesque pulvinar, quam ut dictum pellentesque, nibh massa finibus dolor, ac condimentum sapien dui sodales ligula. Duis massa quam, varius ut eros sit amet, lacinia maximus est. Mauris accumsan odio vitae purus luctus, sed fermentum lectus volutpat. Sed sed est nulla. Maecenas placerat hendrerit nisi, non blandit diam elementum sed. Suspendisse posuere risus eu eleifend congue. Aliquam volutpat, lectus vitae gravida egestas, felis sapien finibus leo, convallis finibus tortor sapien eget dolor.
