extends ./layout.jade
block content
  header
    svg(viewBox="0 0 3800 1200")
      symbol#s-text
        text(text-anchor="middle" x="50%" y="50%" dy=".35em") Fab Academy
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
      use.text(xlink:href="#s-text")
  main
    section.coordinators.left
      h2 Guru & Coordinator:
      p Emma Pareschi 
      h2 Instructors: 
      p Emma Pareschi
      p Mickael Boulay
      p Martin Risseeuw  

      h2 Videos & Version control: 
      p Zaerc

    section.project.left
      h2 Machine Building Group Assignment: 
      h1 Hotwire cutter
      button View Project

    section.students.left
      section
        h1 Students
      ul
        li Loes Bogers
        li Joseph Kruczkowski
        li Natalia Papadopoulou
        li Till Cremer
        li Loes Bogers
        li Joseph Kruczkowski
        li Natalia Papadopoulou
        li Till Cremer