extends ./layout.jade
block content
  figure.thumb__item.three-col.left
    section.thumb__caption
      a(href="#")
        h1.beta thumbnail title
      a(href="#")
        p subtitle, this is it.
    a(href="#")
      img(src="public/images/thumb.jpg")
  figure.thumb__item.three-col.left
    section.thumb__caption
      h1.beta thumbnail title
      p subtitle, this is it.
    a(href="#")
      img(src="public/images/thumb2.jpg")
  figure.thumb__item.three-col.left
    section.thumb__caption
      h1.beta thumbnail title
      p subtitle, this is it.
    a(href="#")
      img(src="public/images/thumb3.jpg")
  figure.thumb__item.three-col.left
    section.thumb__caption
      h1.beta thumbnail title
      p subtitle, this is it.
    a(href="#")
      img(src="public/images/thumb4.jpg")
  figure.thumb__item.three-col.left
    section.thumb__caption
      h1.beta thumbnail title
      p subtitle, this is it.
    a(href="#")
      img(src="public/images/thumb5.jpg")
  figure.thumb__item.three-col.left
    section.thumb__caption
      h1.beta thumbnail title
      p subtitle, this is i.
    a(href="#")
      img(src="public/images/thumb6.jpg")