extends ./layout.jade
block navigation
  include ./modules/multimenu.jade
block content
  #main-content.main-content
    .wrapper
      h1 Multi-Level Menu
      p.intro.
        The multi menu is inspired by this article by #[a(href="http://tympanus.net/codrops/2015/11/17/multi-level-menu/") Mary Lou on Codrops]. This menu is used as standard menu on this website.

