extends ./layout.jade
block pageVars
  -var pageTitle = "Slide menu - Open UI Components"
block content
  .wrapper
    h1 Slide menu
    p.
      A menu that slides from the side or top. Change direction by simply adding a .top class to the .slide-menu element.
    img(src="./public/images/menu.jpg")